
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 35px;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 5px;
    width: 400px;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px;

  }
  
  .card-body {
    clear: both;
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .card-tags {
    display: flex;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
  }

  .cart-image {
    width: 400px;
    height: 250px;
    display: block;
    border-radius: 5px;
}

.tag {
    color: #0077C9;
    background-color: #c3e0f3;
    font-size: 15px;
    padding: 5px;
    border-radius: 25%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}


  